*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homepage{
    background-image: url(./earphones-477446.jpg);
    background-size: 100%;
    height: 1000px;
    object-fit: cover;
    position: relative;
    overflow-x: hidden;
}
.navbar img:first-child{
    height: 100px;
}
.navbar label i{
    font-size: 26px;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: navy;
    opacity: 0.90;
    padding: 0 20px 0 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index:1;
    top: 20px;
    border-radius: 20px;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: all 1.5s;
}
.button-container button{
    background-color: transparent;
    padding: 10px 28px;
    border: none;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
    color: white;
}
.button-container a{
    text-decoration: none;
}
.button-container button:hover i{
    color: royalblue;
}
.button-container button:hover{
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: scale(1.1,1.1);
}
i{
    font-size: 18px;
    color: white;
}
.navbar input:checked~.button-container {
    background-image: linear-gradient(to right,navy, navy,transparent);
    left: 0;
}
.navbar label,#box,h1{
    display: none;
}
.navbar h1{
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 1px 5px white,-1px -1px 5px skyblue;
    color: white;
}
.update-text-area{
    background-image: linear-gradient(to right,navy,purple);
    position: absolute;
    top: 13%;
    width: 100%;
}
.update-img-holder img:hover{
    transform: scale(1.07,1.07);
    border-radius: 40px;
    transition: all 0.4s;
}
.content{
    justify-content:center;
    gap: 20px;
    flex-wrap: wrap;
}


.footer{ 
    background-color: navy;
    color: white;
    text-align: center;
    padding: 35px 10px 0;
    line-height: 40px;
}
.footer h2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-head button{
    padding: 7px 20px;
    border: transparent;
    color:navy;
    margin-top: 8px;
}
.footer img{
    height: 100px;
}
.footer-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-button i{
    color: navy;
}
button{
    cursor:pointer;
    text-decoration:none;
}
.col h2{
    font-size: 30px;
    color:navy;
}
.col a{
    text-decoration: none;
    color: black; 
}
.col a:hover{
    color: navy;
    text-decoration: underline;
}
.col-icon-holder{
    color:navy;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.col-icon-holder i{
    color: white;
    background-color: navy;
    padding: 5px;
    border-radius: 20px;
    font-size: x-large;
}

@media screen and (min-width:300px) and (max-width:1050px)
{
    .button-container{
        position: fixed;
        top: 115px;
        left: -100%;
        height: 80vh;
        flex-direction: column;
        justify-content: start;
        padding-top:50px ;
        border-radius:0 0 20px 20px ;
    }
    .button-container button:hover{
        border-right: 2px solid white;
    }
    .navbar{
        justify-content: space-between;
        align-items: center;
        border-radius:20px 20px 0 0;
    }    
    .navbar label,h1{
        display: inline;
    }
    .button-container{
        width: 100%;
    } 
}
@media screen and (min-width:300px) and (max-width:400px)
{
    .music-card{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }   
}
@media screen and (min-width:300px) and (max-width:500px) {
    .footer-button {
        flex-direction: column;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .homepage {
       height: 1340px;
    }
    .update-text-area{
        top: 9%;
     }
}
@media screen and (min-width:300px) and (max-width:576px) {
    .homepage {
        height: 2250px;
     } 
     .update-text-area{
        top: 5%;
     }
}